@font-face {
    font-family: 'creato_display';
    src: url(../fonts/creato_display/CreatoDisplay-Bold.woff2), url(../fonts/creato_display/CreatoDisplay-Light.woff2), url(../fonts/creato_display/CreatoDisplay-Medium.woff2),
    url(../fonts/creato_display/CreatoDisplay-Regular.woff2), url(../fonts/creato_display/CreatoDisplay-Bold.otf), url(../fonts/creato_display/CreatoDisplay-Light.otf),
    url(../fonts/creato_display/CreatoDisplay-Medium.otf), url(../fonts/creato_display/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family:'garet' ;
    src: url(../fonts/garet/Garet-Book.woff2), url(../fonts/garet/Garet-Heavy.woff2), url(../fonts/garet/Garet-Book.otf), url(../fonts/garet/Garet-Heavy.otf);
}

*{
    width: 1100px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'creato_display';
    font-size: medium;
}

    header{
        height: auto;
        display: flex;
        flex-direction: column;
    }
        div{
            height: auto;
            display: flex;
            flex-direction: row;
        }
            nav{
                width: 100px;
                height: 80px;
                text-transform: uppercase;
                color: black;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            nav:hover{
                color: white;
                background-color: #592A2E;

            }
        
        h1{
            font-size: 60px;
            font-weight: 400;
            text-transform: capitalize;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

        }
            i{
                width: auto;
                margin: 0;
                font-family:'garet' ;
                font-size: 60px;
                font-style:normal;
                font-weight: bolder;
                text-transform: capitalize;
                color: #592A2E;
                text-align:justify;
            }
    
    main{
        height: auto;
        display: flex;
        flex-direction: column;
    }
        #carousel__container{
            overflow: hidden;
        }

        #section{
            height: auto;
            display: flex;
            flex-direction: column;
        }

        